<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>User Info...</h1>
    <h3>Name : <%= data.name %> </h3>
    <h3>Email : <%= data.email %> </h3>
    <h3>Skill : </h3>
    <ul>
        <% data.skill.forEach((data) => { %>
            <li><%= data %></li>
        <% }) %>
    </ul>
</body>
</html>